target
build/
**/*.rs.bk

Cargo.lock
.cargo/*
*/.openapi-generator-ignore
*/.openapi-generator
.*-swp
tmp.*

##### Emacs
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.openapi-generator-ignore
.openapi-generator
